NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=ahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahah
KEYCLOAK_CLIENT_ID=siakad-frontend
KEYCLOAK_CLIENT_SECRET=ahahahahahahahahahahahahahahahahahahahahahahahahahahahah
KEYCLOAK_ISSUER=https://keycloak.example.edu/realms/siakad
